:root {
    --color-background: white;
    --color-text: black;
    
    --color-candy-apple-red: #B60017;
}

@font-face {
    font-family: 'Lacrima Serif Regular';
    src: url('fonts/LacrimaMG-SerifRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Lacrima Serif Regular', serif;
}

header {
    padding: 2rem;
    text-align: center;
}

h1.title {
    letter-spacing: -0.08em;
    font-size: 4rem;
}

p.subtitle {
    font-size: 2rem;
}

section.poems {
    padding: 4rem;
}

article.poem {
    background-color: #FFF5F6;
    padding: 3rem;
    text-align: left;
}


article.poem.stanzas {
    color: color-mix(i  n lch, var(--color-candy-apple-red), black 98%);
}

article.poem h2 {
    color: var(--color-candy-apple-red);
}
