:root {
    --color-background: white;
    --color-text: #0A0001;
}

@font-face {
    font-family: 'Lacrima Serif Regular';
    src: url('fonts/LacrimaMG-SerifRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Lacrima Serif Regular', serif;
}

header {
    padding: 1rem;
}

h1.title {
    letter-spacing: -0.08em;
}

section.poems {
    padding: 4rem;
}

article.poem {
    background-color: #FFF5F6;
    padding: 3rem;
    text-align: left;
}