:root {
    --color-background: white;
    --color-text: black;
    --color-candy-apple-red: #B60017;
}



@font-face {
    font-family: 'Lacrima Serif Regular';
    src: url('/fonts/LacrimaMG-SerifRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Lacrima Serif Bold';
    src: url('/fonts/LacrimaMG-SerifBold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Lacrima Serif Regular Italic';
    src: url('/fonts/LacrimaMG-ItalicRegular.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background);
    color: var(--color-text);

    margin-left: 1rem;
    margin-right: 1rem;

    font-family: 'Lacrima Serif Regular', serif;
}



section.poems {
    padding: 1rem;
}

pre {
    font-family: 'Lacrima Serif Regular', serif;
}

pre em {
    font-family: 'Lacrima Serif Regular Italic', serif;
}

a {
    color: var(--color-text);
    text-decoration: none;
    font-family: 'Lacrima Serif Bold', serif;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

