:root {
    --color-background: white;
    --color-text: black;
    
    --color-candy-apple-red: #B60017;
    --moonlit-ocean: #2A3B4E;
}

@keyframes rainbow {
    0% { color: rgb(255, 105, 180); }  /* Pink */
    12.5% { color: rgb(255, 0, 0); } /* Red */
    25% { color: rgb(255, 142, 0); } /* Orange */
    37.5% { color: rgb(0, 142, 0); } /* Green */
    50% { color: rgb(0, 192, 192); } /* Cyan */
    62.5% { color: rgb(64, 0, 152); } /* Blue */
    75% { color: rgb(142, 0, 142); } /* Purple */
    100% { color: rgb(255, 105, 180); } /* Back to pink */
}

@font-face {
    font-family: 'Lacrima Serif Regular';
    src: url('/src/fonts/LacrimaMG-SerifRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Lacrima Serif Bold';
    src: url('/src/fonts/LacrimaMG-SerifBold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Lacrima Serif Regular Italic';
    src: url('/src/fonts/LacrimaMG-ItalicRegular.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background);
    color: var(--color-text);

    margin-left: 1rem;
    margin-right: 1rem;

    font-family: 'Lacrima Serif Regular', serif;
}

header {
    padding-block: 2rem;
    text-align: center;
}

h1.title {
    letter-spacing: -0.05em;
    font-size: 2rem;
    margin-bottom: -0.7rem;
    font-family: 'Lacrima Serif Bold', serif;
    animation: rainbow 10s infinite;
}

p.subtitle {
    font-size: 1.3rem;
    letter-spacing: -0.03em;
    color: #333;
}

section.poems {
    padding: 1rem;
}

article.poem {
    padding-block: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
    margin-block-end: 4rem;
    text-align: left;
    
}

pre {
    font-family: 'Lacrima Serif Regular', serif;
}

pre em {
    font-family: 'Lacrima Serif Regular Italic', serif;
}

article.poem h2 {
    color: var(--color-candy-apple-red);
    line-height: 1;
    margin-bottom: 1rem;
    font-family: 'Lacrima Serif Bold', serif;

}

#accidentily {
    background-color: #FFF5F6;
}

#accidentily .stanzas {
    color: #0A0001;
}

#atlantic-pacific {
    background-color: #F8FAFB;
}

#atlantic-pacific .stanzas {
    color: #040507;
}

#atlantic-pacific h2 {
    color: var(--moonlit-ocean);
}


a {
    color: var(--color-text);
    text-decoration: none;
    font-family: 'Lacrima Serif Bold', serif;
}
