---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const pages = await getCollection('pages');
const aboutEntry = pages.find(page => page.slug === 'about');

if (!aboutEntry) {
  throw new Error('About page not found');
}

const { Content } = await aboutEntry.render();
---

<Layout 
  title={aboutEntry.data.title}
  ogTitle={aboutEntry.data.title}
  ogDescription={aboutEntry.data.description}
  ogImage="/og/about.png"
  ogUrl={Astro.url.toString()}
>
  <section class="about-content">
    <Content />
  </section>
</Layout>

<style>
  .about-content {
    width: 24rem;
    margin: 0 auto;
    padding-inline: 1rem;
    
  }
  
  .about-content p {
    margin-bottom: 1.5rem;
  }
  
  .about-content p:last-child {
    margin-bottom: 0;
  }
</style> 