---
import { siteConfig } from '../data/site';
---

<footer>
  <p class="copyright">&copy; {new Date().getFullYear()} <a href="https://creativecommons.org/licenses/by-nc/4.0/">creative commons mb bischoff</a></p>

  <p class="links">
    <a class="instagram" href="https://instagram.com/chromatographics/">ig</a>
    <a class="rss" href="/rss.xml">rss</a>
    <a class="bluesky" href="https://bsky.app/profile/chromato.graphics/">bluesky</a>
    <a class="mastodon" href="https://mastodon.social/@chromatographics">mastodon</a>
    <a class="threads" href="https://threads.net/@chromatographics">threads</a>
    <a class="x" href="https://x.com/chromatographix/">x</a>
  </p>
  <p class="smile">◡̈</p>
</footer> 

<style>
  footer {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    padding-block: 4rem;
  }

  footer a {
    color: #666;
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
  }

  .smile {
    font-size: 1.2rem;
  }

  footer a.rss {
    color: #EB7817;
  }

  footer a.bluesky {
    color: #0385FF;
  }

  footer a.instagram {
    color: #E101A7;
  }

  footer a.mastodon {
    color: #6364FF;
  }

  footer a.threads {
    color: #000000;
  }

  footer a.x {
    color: #000000;
  }
</style>