---
import { siteConfig } from '../data/site';
---

<header class="masthead">
  <h1 class="title"><a href="/">{siteConfig.title}</a></h1>
  <p class="subtitle">gay poems by <strong><a href={siteConfig.author.url}><span class="first-name">{siteConfig.author.firstName}</span> {siteConfig.author.lastName}</a></strong></p>
</header>

<style>
  header {
    padding-block-start: 2rem;
    padding-block-end: 1rem;
    text-align: center;
    position: relative;
  }

  h1.title {
    letter-spacing: -0.05em;
    font-size: 2rem;
    margin-bottom: -0.6rem;
    font-family: 'Lacrima Serif Bold', serif;
  }

  h1.title a {
    animation: rainbow 24s infinite;
  }

  h1.title a:hover {
    animation-play-state: paused;
  }

  p.subtitle, p.subtitle a {
    font-size: 1.4rem;
    letter-spacing: -0.06em;
    color: #444;
  }

  @keyframes rainbow {
    0% { color: #B60017; }  /* Candy Apple Red */
    14.285% { color: #ff8e00; } /* Orange */
    28.57% { color: #fedb00; } /* 108C */
    42.855% { color: #008e00; } /* Green */
    57.14% { color: #00c0c0; } /* Cyan */
    71.425% { color: #400098; } /* Blue */
    85.71% { color: #440099; } /* Violet C */
    100% { color: #B60017; } /* Candy Apple Red */
  }
</style> 