---
import { siteConfig } from '../data/site';
---

<header class="masthead">
  <h1 class="title"><a href="/">{siteConfig.title}</a></h1>
  <p class="subtitle">gay poems by <strong><a href={siteConfig.author.url}>{siteConfig.author.name}</a></strong></p>
</header>

<style>
  header {
    padding-block: 2rem;
    text-align: center;
  }

  h1.title {
    letter-spacing: -0.05em;
    font-size: 2rem;
    margin-bottom: -0.6rem;
    font-family: 'Lacrima Serif Bold', serif;
  }

  h1.title a {
    animation: rainbow 24s infinite;
  }

  h1.title a:hover {
    animation-play-state: paused;
  }

  p.subtitle {
    font-size: 1.4rem;
    letter-spacing: -0.06em;
    color: #444;
  }

  /* TODO: pick better colors */
  @keyframes rainbow {
    0% { color: #ff69b4; }  /* Pink */
    12.5% { color: #ff0000; } /* Red */
    25% { color: #ff8e00; } /* Orange */
    37.5% { color: #fedb00; } /* Yellow */
    50% { color: #008e00; } /* Green */
    62.5% { color: #00c0c0; } /* Cyan */
    75% { color: #400098; } /* Blue */
    87.5% { color: #8e008e; } /* Purple */
    100% { color: #ff69b4; } /* Back to pink */
  }
</style> 