---
import { siteConfig } from '../data/site';
---

<header class="masthead">
  <h1 class="title"><a href="/">{siteConfig.title}</a></h1>
  <p class="subtitle">gay poems <em>by</em> <strong><a href={siteConfig.author.url}>{siteConfig.author.name}</a></strong></p>
</header> 