---
import { siteConfig } from '../data/site';
---

<header class="masthead">
  <h1 class="title"><a href="/">{siteConfig.title}</a></h1>
  <p class="subtitle">gay poems by <strong><a href={siteConfig.author.url}>{siteConfig.author.name}</a></strong></p>
</header>

<style>
  header {
    padding-block: 2rem;
    text-align: center;
  }

  h1.title {
    letter-spacing: -0.05em;
    font-size: 2rem;
    margin-bottom: -0.7rem;
    font-family: 'Lacrima Serif Bold', serif;
  }

  h1.title a {
    animation: rainbow 10s infinite;
  }

  h1.title a:hover {
    animation-play-state: paused;
  }

  p.subtitle {
    font-size: 1.4rem;
    letter-spacing: -0.06em;
    color: #666;
  }

  @keyframes rainbow {
    0% { color: rgb(255, 105, 180); }  /* Pink */
    12.5% { color: rgb(255, 0, 0); } /* Red */
    25% { color: rgb(255, 142, 0); } /* Orange */
    37.5% { color: rgb(0, 142, 0); } /* Green */
    50% { color: rgb(0, 192, 192); } /* Cyan */
    62.5% { color: rgb(64, 0, 152); } /* Blue */
    75% { color: rgb(142, 0, 142); } /* Purple */
    100% { color: rgb(255, 105, 180); } /* Back to pink */
  }
</style> 